/* ******************* */
/*      Variable       */
/* ******************* */

$blue:#0d6efd;
// $black:#354046;
$black:#262e33;

// Text Color
$Tc-light:#aaa; 
$Tc-xlight:rgb(133, 130, 130);
$Tc-dark:#666; 
